
body{
  box-sizing: border-box;
  background: #EDEDED;
}
.App{
  display: flex;
  font-family: serif;
}
.sidebar{
  flex: 1 50%;
  height: 95vh;
  border-radius: 2px;
  background: #fff;
  box-shadow: -2px 0px 6px 0 rgba(0, 0, 0, 0.2), 2px 2px 3px -2px rgba(0, 0, 0, 0.19);
}
.sideber .active{
  border: 1px solid #3398CC;
}
.sidebar__header{
    display: flex;
    font-family: sans-serif ;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    position: relative;
    color: #EDFFFF;
    background: #3398CC;
    
}
.sidebar__header:after{
  content: "\2039";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.9rem;
}
.sidebar__panel{
  padding-left: 15px;
}
.patient-info__item{
  margin-top: 10px;
  display: flex;
  
  color:#515151;
  font-size: .9rem;
  background: transparent;
}
.patient-info__value{
  width: 120px;
  margin-left: 5px;
  padding: 1px 3px;
  color:#515151;
  border: none;
  border-bottom: 1px solid #EBEBEB;
}

.tab{
  margin-left: 15px;
  flex: 1 50%;
  min-height: 95vh;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.2), 2px 2px 3px -2px rgba(0, 0, 0, 0.19);
}

.tab__controller{
  height: 50px;
  display: flex;
  background: #FAFAFA;
}
.tab-btn{
  color:#515151;
  padding: 0 15px ;
  background: transparent;
  border: none;
  text-transform: uppercase;
  border-bottom:3px solid transparent;
  cursor: pointer;
}

.tab-btn:focus{
  outline: none;
}
.tab-btn.tab-btn__active{
  color: #a4cbde;
  border-bottom:3px solid #3398CC;
}

.patients-table{
  border-collapse: collapse;
  width: 100%;
  display: none;
}
.patients-table.patients-table__active{
  display: table;
}
.patients-table th{
  padding: 5px;
  color:#B1B1B1;
  font-size: .8rem;
  font-weight: 400;
  text-align: left;
}
.patients-table td{
  
  padding: 5px;
  color: #515151;
}
.patients-table th, .patients-table td{
    border-bottom: 1px solid #E3E3E3;
    cursor: pointer;
}
tr{
  border-left: 2px solid transparent;
}
tr.active{
  border-left:2px solid #3398CC;
  background: #EEEEEE;
}